@using WebBanSach.Models
<ul class="nav navbar-nav side-nav">
    <li class="@(ViewBag.Title=="Dashboard" ? "active" : "")">
        <a href="@Url.Action("Index", "Dashboard")"><i class="fas fa-chart-line"></i> Trang chủ admin</a>
    </li>
    <li class="@(ViewBag.Title == "Order" ? "active" : "")">
        <a href="@Url.Action("QLDonDH", "QLDonDH")"><i class="fa fa-fw fa-shopping-cart"></i> Đơn đặt hàng</a>
    </li>
    <li class="@(ViewBag.Title == "Product" ? "active" : "")">
        <a href="@Url.Action("Sach", "QLSach")"><i class="fa fa-fw fa-table"></i> Quản lý sản phẩm</a>
    </li>
    <li class="@(ViewBag.Title == "Supplier" ? "active" : "")">
        <a href="@Url.Action("Index", "QLNhaCC")"><i class="fa fa-fw fa-truck"></i> Nhà cung cấp</a>
    </li>
    <li class="@(ViewBag.Title == "Customer" ? "active" : "")">
        <a href="@Url.Action("Index", "QLTaikhoanKH")"><i class="fa fa-fw fa-male"></i> Quản lý khách hàng</a>
    </li>
    @if (Model.ID_LOAITK == 1)
    {
        <li class="@(ViewBag.Title == "Employee" ? "active" : "")">
            <a href="@Url.Action("Index", "QLTaikhoanNV")"><i class="fa fa-fw fa-user"></i> Quản lý Nhân viên</a>
        </li>
    }

    @*<li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>*@

    <li class="@(ViewBag.Title == "Settings" ? "active" : "")">
        <a href="@Url.Action("Index", "CaiDat")"><i class="fa fa-fw fa-gear"></i> Cài đặt</a>
    </li>
    <li class="@(ViewBag.Title == "Logout" ? "active" : "")">
        <a href="@Url.Action("Logout", "Admin")"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
    </li>
</ul>
