
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sunfw_section_section_main_body" class="sunfw-section sunfw_section_section_main_body visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-1" class="row sunfw-flex-component">
            <div id="column_column-1" class="col-xs-36 col-sm-12 col-md-12 col-lg-12  flex-md-unordered">
                <div class="layout-item sunfw-item-page-content">
                    <div id="system-message-container">
                    </div>

                    <div id="akeeba-renderjoomla">
                        <div class="j2store-single-product simple detail bs2 ">
                            <div itemscope="" itemtype="http://schema.org/Product" class="product-1 simple-product">
                                <div class="row">
                                    <div class="col-sm-5 img-width">
                                        <div class="j2store-mainimage">

                                            <span class="zoom" id="j2store-item-main-image-1" style="position: relative; overflow: hidden;">
                                                <img itemprop="image" alt="The Kite Runner" title="The Kite Runner" class="j2store-product-main-image j2store-img-responsive" src="~/images/@Model.AnhBia" width="200">
                                                <img src="~/images/@Model.AnhBia" class="zoomImg" style="position: absolute; top: -13.4496px; left: -163.935px; opacity: 0; width: 540px; height: 656px; border: none; max-width: none;">
                                            </span>
                                            <script type="text/javascript">
                                                var main_image = "https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/bookimage/kite-runner-square-8b38574.jpg";
                                                j2store.jQuery(document).ready(function () {
                                                    var enable_zoom = 1;
                                                    if (enable_zoom) {
                                                        j2store.jQuery('#j2store-item-main-image-1').zoom();
                                                    }
                                                });
                                            </script>
                                        </div>


                                        <div class="j2store-product-additional-images">

                                            <ul class="additional-image-list">
                                                <li>
                                                    <img onmouseover="setMainPreview('addimage-1-0', 1, 1, 'inner')" onclick="setMainPreview('addimage-1-0', 1, 1, 'inner')" id="addimage-1-0" class="j2store-item-additionalimage-preview j2store-img-responsive" src="~/images/@Model.AnhBia" alt="@Model.TenSach" title="@Model.TenSach" width="100">
                                                </li>
                                                <li>
                                                    <img onmouseover="setMainPreview('additial-main-image-1', 1, 1, 'inner')" onclick="setMainPreview('additial-main-image-1', 1, 1, 'inner')" id="additial-main-image-1" alt="The Kite Runner" title="The Kite Runner" class="j2store-item-additionalimage-preview j2store-img-responsive additional-mainimage" src="~/images/@Model.AnhBia" width="100">
                                                </li>
                                            </ul>
                                        </div>

                                        <script>
                                            j2store.jQuery(document).ready(function () {
                                                j2store.jQuery('body').on('after_doAjaxFilter', function (e, product, response) {
                                                    j2store.jQuery('img.zoomImg').remove();
                                                    j2store.jQuery('#j2store-item-main-image-1').zoom();
                                                });
                                            });
                                        </script>
                                    </div>

                                    <div class="col-sm-7">

                                        <h1 itemprop="name" class="product-title">
                                            @Model.TenSach
                                        </h1>


                                        <span class="manufacturer-brand">
                                            @Model.MaNXB
                                        </span>


                                        <div class="price-sku-brand-container">
                                            <div class="price">

                                                <div itemprop="offers" itemscope="" itemtype="https://schema.org/Offer" class="product-price-container">

                                                    <div class="base-price strike">
                                                        @Model.GiaBia 
                                                    </div>

                                                    <div class="sale-price">
                                                        @Model.GiaBan VNĐ
                                                    </div>


                                                    <meta itemprop="price" content="29.00">
                                                    <meta itemprop="priceCurrency" content="USD">
                                                    <link itemprop="availability" href="https://schema.org/InStock">
                                                </div>


                                                <div class="discount-percentage">
                                                    11% off
                                                </div>
                                            </div>
                                            <div class="prod_sku">
                                                <div class="product-sku">
                                                    <span class="sku-text">SKU:</span>
                                                    <span itemprop="sku" class="sku"> 1207187372 </span>
                                                </div>

                                            </div>
                                            <div class="short-description">

                                                <div class="product-sdesc">
                                                    <p>@Model.MoTa</p>
                                                </div>

                                            </div>
                                        </div>
                                        <form action="/joomla-templates/jsn_bookstore/pro/bookstore/en/store/cart/addItem" method="post" class="j2store-addtocart-form" id="j2store-addtocart-form-1" name="j2store-addtocart-form-1" data-product_id="1" data-product_type="simple" enctype="multipart/form-data">


                                            <div class="cart-action-complete" style="display:none;">
                                                <p class="text-success">
                                                    Item added to cart.												<a href="/joomla-templates/jsn_bookstore/pro/bookstore/en/store/cart" class="j2store-checkout-link">
                                                        Checkout
                                                    </a>
                                                </p>
                                            </div>



                                            <div id="add-to-cart-1" class="j2store-add-to-cart">

                                                <div class="product-qty"><input type="number" name="product_qty" value="1" class="input-mini form-control " min="0" step="1"></div>
                                                <input type="hidden" id="j2store_product_id" name="product_id" value="1">
                                                <input style="font-size: 13px" data-cart-action-always="Đang thêm..." data-cart-action-done="Đang thêm..." data-cart-action-timeout="5000" value="Thêm vào giỏ hàng" type="submit" class="j2store-cart-button btn btn-primary" onclick="window.location.href='@Url.Action("Themgiohang", "Giohang", new { id = Model.MaSach ,strUrl=Request.Url.ToString()})'">
                                                @*<a href=" @Url.Action("Themgiohang", "Giohang", new { id = Model.MaSach ,strUrl=Request.Url.ToString()})" data-cart-action-always="Adding..." data-cart-action-done="Add to cart" data-cart-action-timeout="1000" value="Add to cart" type="submit" class="j2store-cart-button btn btn-primary">Add to cart</a>*@
                                                @*<input data-cart-action-always="Adding..." data-cart-action-done="Add to cart" data-cart-action-timeout="1000" value="Add to cart" type="submit" class="j2store-cart-button btn btn-primary">*@
                                            </div>


                                            <input type="hidden" name="option" value="com_j2store">
                                            <input type="hidden" name="view" value="carts">
                                            <input type="hidden" name="task" value="addItem">
                                            <input type="hidden" name="ajax" value="0">
                                            <input type="hidden" name="88bbb9d99da2633c53fb18bd70a31431" value="1">	<input type="hidden" name="return" value="aHR0cHM6Ly9kZW1vLmpvb21sYXNoaW5lLmNvbS9qb29tbGEtdGVtcGxhdGVzL2pzbl9ib29rc3RvcmUvcHJvL2Jvb2tzdG9yZS9lbi9zdG9yZS9wcm9kdWN0L3NpbXBsZQ==">
                                            <div class="j2store-notifications"></div>

                                        </form>

                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span12">
                                        <ul class="nav nav-tabs" id="j2store-product-detail-tab">
                                            <li class="active">
                                                <a href="#description" data-toggle="tab">Description</a>

                                            </li>
                                            <li class="">
                                                <a href="#specs" data-toggle="tab">Specifications</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div itemprop="description" class="tab-pane fade in active" id="description">

                                                <div class="product-sdesc">
                                                    <p>@Model.MoTa</p>
                                                </div>


                                                <div class="product-ldesc">

                                                    <p>Hosseini has commented that he considers The Kite Runner to be a father-son story, emphasizing the familial aspects of the narrative, an element that he continued to use in his later works.&nbsp;Themes of guilt and redemption feature prominently in the novel, with a pivotal scene depicting an act of sexual assault that happens against Hassan that Amir fails to prevent. The situation as a whole was the main reason why Amir and Hassan's friendship ended. The latter half of the book centres on Amir's attempts to atone for this transgression by rescuing Hassan's son two decades later.</p>
                                                </div>

                                            </div>

                                            <div class="tab-pane fade in " id="specs">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td>Dimension (L x W x H)</td>
                                                            <td>
                                                                <span class="product-dimensions">
                                                                    180                    x 90                    x 80
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Weight
                                                            </td>
                                                            <td>
                                                                <span class="product-weight">
                                                                    1.5                    Kilogram
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>