@model WebBanSach.Models.NHAXUATBAN

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm nhà cung cấp</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Danh sách nhà cung cấp</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <strong class="control-label col-md-2">Thương hiệu</strong>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenNXB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenNXB, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Địa chỉ</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Điện thoại</strong> 
            <div class="col-md-10">
                @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10 my-3">
            <input type="submit" value="Thêm" class="btn btn-primary" />
            <a href="@Url.Action("Index","QLNhaCC")" class="btn btn-success">Quay lại</a>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
