@model IEnumerable<WebBanSach.Models.NHAXUATBAN>

@{
    ViewBag.Title = "Quản lý nhà cung cấp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý nhà cung cấp</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Thương hiệu
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Điện thoại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNXB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNXB })
        </td>
    </tr>
}

</table>
