@model WebBanSach.Models.TAIKHOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TAIKHOAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_LOAITK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_LOAITK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_TK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL_TK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIACHI_TK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI_TK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHICHU_TK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHICHU_TK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IS_DELETE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IS_DELETE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATEBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATEDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFILEDBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFILEDBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFILEDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFILEDDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
