@model IEnumerable<WebBanSach.Models.CHITIETDATHANG>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết đơn đặt sách</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            Số đơn hàng
        </th>
        <th>
            Mã sách
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Đơn giá
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to list", "QLDonDH")
</p>
