@model WebBanSach.Models.DONDATHANG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    //Model.GHICHU_HOADON = HttpUtility.HtmlEncode(GHICHU.Textarea);

}
<h2>Chỉnh sửa thông tin đơn đặt hàng</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Đơn đặt hàng</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SoDH)

        <div class="form-group">
            <strong class="control-label col-md-2">Khách hàng</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_TAIKHOAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ID_TAIKHOAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Tình trạng thanh toán</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DaThanhToan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DaThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Tình trạng giao hàng</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TinhTrangGiaoHang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TinhTrangGiaoHang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Ngày đặt hàng</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Ngày giao</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayGiao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayGiao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Hình thức thanh toán</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhThucThanhToan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HinhThucThanhToan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Thành tiền</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.THANHTIEN_HOADON, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.THANHTIEN_HOADON, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Trạng thái</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TRANGTHAI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TRANGTHAI, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <strong class="control-label col-md-2">Nhân viên tạo</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CREATEBY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CREATEBY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Ngày tạo</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CREATEDATE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CREATEDATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Nhân viên xử lý</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MODIFILEDBY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MODIFILEDBY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Ngày xử lý</strong>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MODIFILEDDATE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MODIFILEDDATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <strong class="control-label col-md-2">Ghi chú</strong>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.GHICHU_HOADON, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GHICHU_HOADON, "", new { @class = "text-danger" })*@
                <textarea name="GHICHU_HOADON">Ghi chú hóa đơn</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "QLDonDH")
</div>
