@using WebBanSach.Models
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Duong dan tro ve-->>
<div id="sunfw_section_section_content_top" class="sunfw-section sunfw_section_section_content_top visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-5" class="row ">
            <div id="column_column-9" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="layout-item sunfw-item-module-position">
                    <div class="sunfw-pos-content-top   visible-lg visible-md visible-sm visible-xs">
                        <div class="module-style ">
                            <div class="module-body">
                                <div aria-label="Breadcrumbs" role="navigation">
                                    <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                                        <li>
                                            Bạn đang ở đây: &nbsp;
                                        </li>

                                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                            <a itemprop="item" href="@Url.Action("Index","Home")" class="pathway"><span itemprop="name">Home</span></a>
                                            <span class="divider">
                                                @*<img src="/joomla-templates/jsn_bookstore/pro/bookstore/media/system/images/arrow.png" alt="">*@
                                            </span>
                                            <meta itemprop="position" content="1">
                                        </li>
                                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                            <a itemprop="item" href="@Url.Action("All_Sach","Module")" class="pathway"><span itemprop="name">Sách</span></a>
                                            <span class="divider">
                                                @*<img src="/joomla-templates/jsn_bookstore/pro/bookstore/media/system/images/arrow.png" alt="">*@
                                            </span>
                                            <meta itemprop="position" content="2">
                                        </li>
                                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                                            <span itemprop="name">
                                                @ViewBag.Title
                                            </span>
                                            <meta itemprop="position" content="3">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Thong tin gio hang-->>
<div id="sunfw_section_section_main_body" class="sunfw-section sunfw_section_section_main_body visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-1" class="row sunfw-flex-component">
            <div id="column_column-1" class="col-xs-36 col-sm-12 col-md-12 col-lg-12  flex-md-unordered">
                <div class="layout-item sunfw-item-page-content">
                    <div id="system-message-container">
                    </div>

                    <div id="akeeba-renderjoomla">
                        <div class="j2store">
                            <div class="j2store-cart">
                                <div class="col-md-12"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                            <input type="hidden" name="option" value="com_j2store">
                                            <input type="hidden" name="view" value="carts">
                                            <input type="hidden" id="j2store-cart-task" name="task" value="update">

                                            <table class="j2store-cart-table table table-bordered">
                                                <thead>
                                                    <tr>

                                                        <th>Tên Sách</th>
                                                        <th>Số Lượng</th>
                                                        <th style="text-align:right">Giá Bán</th>
                                                        <th style="text-align:right">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            @using (Html.BeginForm("UpdateCart", "GioHang", new { id = item.ghMaSach }))
                                                            {

                                                                <td>
                                                                    <span class="cart-product-name">
                                                                        @item.ghTenSach
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <div class="product-qty"><input type="number" name="txtSoluong" value="@item.ghSoLuong" class="input-mini" min="1" step="1"></div>
                                                                    <a class="btn btn-small btn-danger btn-xs j2store-remove remove-icon" href="@Url.Action("RemoveInCart", "Giohang", new { id = item.ghMaSach ,strUrl=Request.Url.ToString()})">
                                                                        <i style="margin-left:15px; font-size:medium" class="fa fa-trash-o"></i>

                                                                    </a>

                                                                </td>
                                                                <td class="cart-line-subtotal">
                                                                    @item.ghGiaBan VNĐ
                                                                </td>
                                                                <td><span><input style="float:right" class="btn btn-default" type="submit" value="Cập nhật" /></span></td>
                                                            }
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                            <div class="j2store-cart-buttons">
                                                <div class="buttons-left">
                                                    <span class="cart-continue-shopping-button">
                                                        <input class="btn btn-primary" type="button" onclick="window.location.href='@Url.Action("All_Sach","Module")'" value="Tiếp tục mua sắm">
                                                    </span>
                                                </div>
                                                <div class="buttons-right">
                                                </div>
                                            </div>

                                        <!-- Display plugin results -->
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="cart-footer table table-bordered">
                                            <tbody>
                                                <tr valign="top">
                                                    <th scope="row" colspan="2">
                                                        Tổng số lượng
                                                    </th>
                                                    <td>@ViewBag.TongSoLuong</td>
                                                </tr>
                                                <tr valign="top">
                                                    <th scope="row" colspan="2">
                                                       Tổng tiền
                                                    </th>
                                                    <td>@ViewBag.TongTien VNĐ</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div class="buttons-right">
                                            <span class="cart-checkout-button">
                                                <a class="btn btn-large btn-success btn-primary" href="/DatHang/DatHang">Đặt hàng</a>  
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

