@model IEnumerable<WebBanSach.Models.CHUDE>

<div id="sunfw_section_section_content_top"
     class="sunfw-section sunfw_section_section_content_top visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-5" class="row ">
            <div id="column_column-9" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="layout-item sunfw-item-module-position">
                    <div class="sunfw-pos-content-top   visible-lg visible-md visible-sm visible-xs">
                        <div class="module-style ">
                            <div class="module-body">

                                <div class="custom">
                                    <style>
                                        /* PageFly Element Styles */
                                        .kqDkLo {
                                            word-break: break-word;
                                        }

                                            .kqDkLo span {
                                                font-weight: inherit;
                                                text-decoration: inherit;
                                            }

                                            .kqDkLo i {
                                                margin-right: 0.3em;
                                            }

                                        .gsdIuB {
                                            padding: var(--pf-s-lg);
                                        }

                                        @@media (max-width: 1199px) and (min-width: 992px) {
                                            .gsdIuB {
                                                padding: var(--pf-s-md);
                                            }
                                        }

                                        @@media (max-width: 991px) and (min-width: 768px) {
                                            .gsdIuB {
                                                padding: var(--pf-s-sm);
                                            }
                                        }

                                        @@media (max-width: 767px) {
                                            .gsdIuB {
                                                padding: var(--pf-s-xs);
                                            }
                                        }

                                        .iDckyw {
                                            position: relative;
                                        }

                                        .jdLQbH {
                                            margin: 0 calc(-1 * var(--pf-s-lg));
                                        }

                                        @@media (max-width: 1199px) and (min-width: 992px) {
                                            .jdLQbH {
                                                margin: 0 calc(-1 * var(--pf-s-md));
                                            }
                                        }

                                        @@media (max-width: 991px) and (min-width: 768px) {
                                            .jdLQbH {
                                                margin: 0 calc(-1 * var(--pf-s-sm));
                                            }
                                        }

                                        @@media (max-width: 767px) {
                                            .jdLQbH {
                                                margin: 0 calc(-1 * var(--pf-s-xs));
                                            }
                                        }

                                        .cBuwhn__parallax {
                                            position: absolute;
                                            top: 0px;
                                            left: 0px;
                                            width: 100%;
                                            height: 100%;
                                            overflow: hidden;
                                            pointer-events: none;
                                        }

                                        .cBuwhn {
                                            padding: 15px 0px;
                                            position: relative;
                                        }

                                        .kzftmY > span:last-child {
                                            line-height: inherit;
                                            display: block;
                                            margin-right: 0px !important;
                                        }

                                        #editor-dnd-wrapper .kzftmY span + span[contenteditable] {
                                            display: block;
                                        }

                                            #editor-dnd-wrapper .kzftmY span + span[contenteditable]:empty::after {
                                                display: inline;
                                            }

                                        .kzftmY ol,
                                        .kzftmY ul {
                                            list-style-position: inside;
                                        }

                                        .kzftmY blockquote {
                                            font-size: inherit;
                                        }

                                        .aevsi {
                                            display: inline-block;
                                        }

                                            .aevsi[contenteditable="true"] {
                                                user-select: text;
                                            }

                                        .aevsi {
                                            vertical-align: baseline;
                                            word-break: break-word;
                                        }

                                            .aevsi:focus {
                                                outline: none;
                                            }

                                            .aevsi::after {
                                                display: inline;
                                            }

                                        /* PageFly Styles */

                                        @@media all {
                                            .__pf .pf-d20cf85a-a490543e {
                                                color: rgb(38, 63, 68);
                                                font-family: Montserrat;
                                                font-size: 20px;
                                                font-weight: 600;
                                                margin-bottom: 5px;
                                                margin-top: 0px;
                                            }

                                            .__pf .pf-d20cf85a-47946ffb {
                                                margin-bottom: 0px;
                                                font-size: 16px;
                                                color: rgb(102, 102, 102);
                                                margin-top: 5px;
                                            }

                                            .__pf .pf-d20cf85a-6d271d5a {
                                                text-align: center;
                                            }

                                            .__pf .pf-d20cf85a-eb79fc40 {
                                                padding-bottom: 32px;
                                            }

                                            .__pf .pf-d20cf85a-6ffb0681 {
                                                margin-right: 0px;
                                                margin-bottom: 0px;
                                                margin-left: 0px;
                                            }

                                            .__pf .pf-d20cf85a-3066dc98 {
                                                margin-top: -12px;
                                                padding-bottom: 26px;
                                            }

                                            .__pf .pf-d20cf85a-0190b830 {
                                                padding-top: 0px;
                                                text-align: left;
                                                padding-bottom: 0px;
                                            }
                                        }
                                    </style>
                                    <div class="__pf" id="__pf">
                                        <div data-pf-type="Body" class="sc-oVpqz gmldoY pf-d20cf85a-4d5d9651">
                                            <div data-pf-type="Layout" class="pf-d20cf85a-5d9651a9">
                                                <div data-container="false"
                                                     class="sc-pZdvY cBuwhn pf-d20cf85a-eb79fc40"
                                                     data-pf-type="Section">
                                                    <div class="sc-pRgDJ fzXWJx">
                                                        <div class="sc-qQxFs jdLQbH pf-d20cf85a-6d271d5a pf-r pf-r-eh"
                                                             data-pf-type="Row"
                                                             style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                            <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12">
                                                                <div class="sc-pkfPC iDckyw pf-d20cf85a-543e6d27"
                                                                     data-pf-type="Column">
                                                                    <h3 data-pf-type="Heading"
                                                                        class="sc-pjTqr kqDkLo pf-d20cf85a-a490543e">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-d20cf85a-dcbfa490">
                                                                            TOP CHỦ ĐỀ HAY NHẤT
                                                                        </span>
                                                                    </h3>
                                                                    <p data-pf-type="Paragraph2"
                                                                       class="sc-psedN kzftmY pf-d20cf85a-47946ffb">
                                                                        <span data-pf-type="Text"
                                                                              class="sc-qPwwY aevsi pf-d20cf85a-5c174794">
                                                                            Danh sách các chủ đề được yêu thích nhất!
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-container="false"
                                                     class="sc-pZdvY cBuwhn pf-d20cf85a-0190b830"
                                                     data-pf-type="Section">
                                                    <div class="sc-pRgDJ fzXWJx">
                                                        <div class="sc-qQxFs jdLQbH pf-d20cf85a-dc9879b7 pf-r pf-r-eh"
                                                             data-pf-type="Row"
                                                             style="--pf-s-lg:0px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;">
                                                            <div class="sc-pbJYR gsdIuB pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12">
                                                                <div class="sc-pkfPC iDckyw pf-d20cf85a-3066dc98"
                                                                     data-pf-type="Column">
                                                                    <div data-pf-type="JoomlaModule"
                                                                                                                                                     @{ 
                                                                                var first = Model.Take(3).ToList();
                                                                                var second = Model.Skip(3).Take(3).ToList();
                                                                            }
                                                                         class="sc-qOiPt jpYiwZ pf-d20cf85a-6ffb0681">
                                                                        <div class="row j2store-categories-module">

                                                                            @foreach (var item in first)
                                                                            {
                                                                                <div class="col-md-4 ">
                                                                                    <a href="@Url.Action("SChuDe","ChuDe",new { id=item.MaCD})">
                                                                                    <img src="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/homepage/book4 1.jpg" 
                                                                                         width="370" height="252"
                                                                                         border="0" alt="@item.TenChuDe" />
                                                                                    </a>
                                                                                    <h4>
                                                                                        <a href="@Url.Action("SChuDe","ChuDe",new { id=item.MaCD})">
                                                                                           @item.TenChuDe
                                                                                        </a>
                                                                                    </h4>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                        <div class="row j2store-categories-module">
                                                                            @foreach (var item in second)
                                                                            {
                                                                                <div class="col-md-4 ">
                                                                                    <a href="@Url.Action("SChuDe","ChuDe",new { id=item.MaCD})">
                                                                                        <img src="https://demo.joomlashine.com/joomla-templates/jsn_bookstore/pro/bookstore/images/joomlashine/sample/homepage/book4 1.jpg"
                                                                                             width="370" height="252"
                                                                                             border="0" alt="@item.TenChuDe" />
                                                                                    </a>
                                                                                    <h4>
                                                                                        <a href="@Url.Action("SChuDe","ChuDe",new { id=item.MaCD})">
                                                                                            @item.TenChuDe
                                                                                        </a>
                                                                                    </h4>
                                                                                </div>
                                                                            }
                                                                        </div>



                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="application/json"
                                            class="pf_page_settings">{"isBackend":false,"pageflyVersion":"2.12.0","elementData":{},"pageId":"d20cf85a"}</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>