@model WebBanSach.Models.TAIKHOAN
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["dangnhap"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["dangnhap"]</p>
}

<div id="sunfw_section_section_content_top" class="sunfw-section sunfw_section_section_content_top visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-5" class="row ">
            <div id="column_column-9" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="layout-item sunfw-item-module-position">
                    <div class="sunfw-pos-content-top   visible-lg visible-md visible-sm visible-xs">
                        <div class="module-style ">
                            <div class="module-body">
                                <div aria-label="Breadcrumbs" role="navigation">
                                    <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                                        <li>
                                            Bạn đang ở đây: &nbsp;
                                        </li>
                                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                            <a itemprop="item" href="@Url.Action("Index","Home")" class="pathway"><span itemprop="name">Home</span></a>
                                            <span class="divider">
                                            </span>
                                            <meta itemprop="position" content="1">
                                        </li>
                                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                                            <span itemprop="name">
                                                @ViewBag.Title
                                            </span>
                                            <meta itemprop="position" content="3">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Đăng nhập thành viên</h3>

<div class="login">
    <form action="/Login/Dangnhap" method="post" class="form-validate form-horizontal well">
        <fieldset>
            <div class="control-group">
                <div class="control-label">
                    <label id="username-lbl" for="username" class="required invalid">
                        Username<span class="star">&nbsp;*</span>
                    </label>
                </div>
                <div class="controls">
                    <input type="text" name="username" id="username" value="" class="validate-username required invalid" size="25" required="required" aria-required="true" autofocus="" aria-invalid="true">
                    @ViewData["error-1"]
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <label id="password-lbl" for="password" class="required">
                        Password<span class="star">&nbsp;*</span>
                    </label>
                </div>
                <div class="controls">
                    <input type="password" name="password" id="password" value="" class="validate-password required" size="25" maxlength="99" required="required" aria-required="true">
                    @ViewData["error-2"]
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <label>
                        Remember me
                    </label>
                </div>
                <div class="controls">
                    <input id="remember" type="checkbox" name="remember" class="inputbox" value="yes">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">
                        Đăng nhập
                    </button>
                </div>
            </div>

            <div class="control-group">
                <div class="controls sunfw-login-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li>
                            <a href="">
                                Quên mật khẩu?
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Quên tên đăng nhập?
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("DangKi","Login")">
                                Tạo tài khoản mới
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <input type="hidden" name="return" value="aHR0cHM6Ly9kZW1vLmpvb21sYXNoaW5lLmNvbS9qb29tbGEtdGVtcGxhdGVzL2pzbl9ib29rc3RvcmUvcHJvL2Jvb2tzdG9yZS9lbi91c2luZy1qb29tbGEvZXh0ZW5zaW9ucy9jb21wb25lbnRzL3VzZXJzLWNvbXBvbmVudC9sb2dpbi1mb3Jt">
            <input type="hidden" name="3eb05997e66ec731527f3079fbeb9cd6" value="1">
        </fieldset>
    </form>
</div>