@model WebBanSach.Models.SACH

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>chitietsach</h2>

<div>
    <h4>THÔNG TIN CHI TIẾT SÁCH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Tên Sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
         Giá Bán:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
         Giá Bìa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBia)
        </dd>

        <dt>
         Mô Tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
         Ảnh Bìa:
        </dt>

        <dd>
            <img src="~/images/@Model.AnhBia" width="100"/>
        </dd>

        <dt>
         Ngày Cập Nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}",Model.NgayCapNhat)
        </dd>

        <dt>
         Số Lượng Tồn:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
         Tên Chủ Đề:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUDE.TenChuDe)
        </dd>

        <dt>
         Tên NXB:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAXUATBAN.TenNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSach }) |
    @Html.ActionLink("Trở về", "Sach")
</p>*@
<div class="form-group">
    <div class="col-md-offset-2 col-md-10 my-3">
        <a href="@Url.Action("Edit","QLSach", new { id = Model.MaSach })" class="btn btn-info">Chỉnh sửa</a>
        <a href="@Url.Action("Sach","QLSach")" class="btn btn-success">Quay lại</a>
    </div>
</div>
