@using WebBanSach.Models
@*@using PagedList.Mvc;*@

@model IEnumerable<WebBanSach.Models.SACH>
@{
    ViewBag.Title = "Quản lý sách";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Quản lý Danh Mục Sách</h2>

    <p>
        @Html.ActionLink("Thêm Mới", "Create")
    </p>
    <table class="table">
        <tr>

        </tr>



        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaSach }) |
                    @Html.ActionLink("Detail", "Detail", new { id = item.MaSach }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaSach })
                </td>
            </tr>
        }

    </table>*@
@*<div style="clear:both">
        Trang  @(Model.PageCount<@Model.PageNumber?0: @Model.PageNumber) / @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>*@
@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }

}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-danger text-uppercase">TẤT CẢ SÁCH</strong>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Create","QLSach")" class="btn btn-success btn-sm"><i class="fas fa-plus"></i>Thêm</a>
                <a href="Detrash" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>Thùng rác</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="myTable" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th style="width:200px">Tên Sách</th>
                    <th style="width:100px">Giá Bán</th>
                    <th style="width:300px">Mô tả </th>
                    <th style="width:120px">Ảnh Bìa </th>
                    <th style="width:150px">Ngày cập nhật</th>
                    <th style="width:120px"> SL Tồn</th>
                    <th style="width:120px">Tên Chủ Đề </th>
                    <th style="width:100px"> Tên NXB </th>
                    @*<th style="width:200px"> </th>*@
                    <th style="width:200px;" class="text-center">Chức năng</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input name="STT" type="checkbox" class="text-center" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenSach)
                        </td>
                        <td>
                            @String.Format("{0:0,0}", item.GiaBan)
                        </td>
                        <td>
                            @Truncate(item.MoTa, 100)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.AnhBia)*@
                            <img src="@Url.Content("~/images/" + item.AnhBia)" width="100" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayCapNhat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuongTon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
                        </td>
                        <td class="text-center">
                            @* buttun trang thai(de day t dung copy neu can)
                                    @if (item.status == 1)
                                {
                                    <a class="btn btn-success btn-sm" href="@Url.Action("Status","User_NV",new { id = item.id_NV })"><i class="fas fa-toggle-on"></i></a>
                                }
                                else
                                {
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("Status","User_NV",new { id = item.id_NV })"><i class="fas fa-toggle-off"></i></a>
                                }

                                public ActionResult Status(int? id)
                                {
                                if (id == null)
                                {
                                return new HttpStatusCodeResult(HttpStatusCode.BadRequest);
                                }
                                Product product=db.Product.Find(id)
                                product.Status=(product.Status==1)?2:1;
                                if(product.Status==1)
                                db.Entry(product).State = EntityState.Modified;
                                db.SaveChanges();
                                return RedirectToAction("Index");
                                }*@
                            <a class="btn btn-info btn-sm" href="@Url.Action("Edit","QLSach",new { id = item.MaSach })"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-warning btn-sm" href="@Url.Action("Detail","QLSach",new { id = item.MaSach })"><i class="fas fa-eye"></i></a>
                            <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","QLSach",new { id =  item.MaSach})"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section header{

    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#myTable').DataTable();
        });
    </script>
}


