@using WebBanSach.Models
@model WebBanSach.Models.Giohang

@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TAIKHOAN tk = (TAIKHOAN)Session["USERNAME"];
}
<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> PayPal Checkout Integration | Client Demo </title>
</head>
<link href="~/Content/NganLuong.css" rel="stylesheet" />
<link href="~/Content/NganLuong.css" rel="stylesheet" />

<div id="sunfw_section_section_content_top" class="sunfw-section sunfw_section_section_content_top visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-5" class="row ">
            <div id="column_column-9" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div class="layout-item sunfw-item-module-position">
                    <div class="sunfw-pos-content-top   visible-lg visible-md visible-sm visible-xs">
                        <div class="module-style ">
                            <div class="module-body">
                                <div aria-label="Breadcrumbs" role="navigation">
                                    <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                                        <li>
                                            Bạn đang ở đây: &nbsp;
                                        </li>
                                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                            <a itemprop="item" href="@Url.Action("Index","Home")" class="pathway"><span itemprop="name">Home</span></a>
                                            <span class="divider">
                                                @*<img src="/joomla-templates/jsn_bookstore/pro/bookstore/media/system/images/arrow.png" alt="">*@
                                            </span>
                                            <meta itemprop="position" content="1">
                                        </li>
                                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                            <a itemprop="item" href="@Url.Action("GioHang","GioHang")" class="pathway"><span itemprop="name">Giỏ hàng</span></a>
                                            <span class="divider">
                                                <img src="/joomla-templates/jsn_bookstore/pro/bookstore/media/system/images/arrow.png" alt="">
                                            </span>
                                            <meta itemprop="position" content="2">
                                        </li>
                                        <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="active">
                                            <span itemprop="name">
                                                @ViewBag.Title
                                            </span>
                                            <meta itemprop="position" content="3">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="sunfw_section_section_main_body" class="sunfw-section sunfw_section_section_main_body visible-lg visible-md visible-sm visible-xs">
    <div class="container">
        <div id="row_row-1" class="row sunfw-flex-component">
            <div id="column_column-1" class="col-xs-36 col-sm-12 col-md-12 col-lg-12  flex-md-unordered">
                <div class="layout-item sunfw-item-page-content">
                    <div id="system-message-container">
                    </div>

                    <div id="akeeba-renderjoomla">
                        <div id="j2store-checkout" class="j2store checkout">
                            <div id="j2store-checkout-content">
                                <h1>Đặt hàng</h1>
                                <div id="shipping-address">
                                    <div class="checkout-heading">Địa chỉ giao hàng</div>
                                    <div class="checkout-content" style="display: block;">
                                        <div id="akeeba-renderjoomla">

                                            <input type="radio" name="shipping_address" value="existing" id="shipping-address-existing" checked="checked">
                                            <label for="shipping-address-existing">Tôi muốn lấy thông tin địa chỉ đặt hàng từ địa chỉ đã lưu</label>
                                            <div id="shipping-existing" style="display: block;">
                                                <select name="address_id" style="width: 100%; margin-bottom: 15px;" size="2">
                                                    <option value="30" selected="selected">
                                                        <strong>@tk.DIACHI_TK</strong>
                                                    </option>
                                                </select>
                                            </div>
                                            <p>
                                                <input type="radio" name="shipping_address" value="new" id="shipping-address-new">
                                                <label for="shipping-address-new">Giao tại địa chỉ khác</label>
                                            </p>
                                            <div id="shipping-new" style="display: none;">

                                                <div class="row">
                                                    <div class="col-md-6"><span class="j2store_field_required">*</span><label for="first_name">Họ tên</label><input class="inputbox" id="first_name" type="text" name="first_name" value=""><br><span class="j2store_field_required">*</span><label for="phone_1">Số điện thoại</label><input class="inputbox" id="phone_1" type="text" name="phone_1" value=""><br> </div>
                                                    <div class="col-md-6">
                                                        <select name="calc_shipping_provinces" required="">
                                                            <option value="">Tỉnh / Thành phố</option>
                                                        </select>
                                                        <select name="calc_shipping_district" required="">
                                                            <option value="">Quận / Huyện</option>
                                                        </select>
                                                        <span class="j2store_field_required">*</span><label for="first_name">Tên đường</label><input class="inputbox" id="first_name" type="text" name="first_name" value=""><br>
                                                    </div>
                                                </div>

                                            </div>
                                            <br>
                                            <input type="hidden" name="task" value="shipping_address_validate">
                                            <input type="hidden" name="option" value="com_j2store">
                                            <input type="hidden" name="view" value="checkout">

                                            <script type="text/javascript">
                                                (function ($) {
                                                    $(document).on('change', '#shipping-address input[name=\'shipping_address\']', function () {
                                                        if (this.value == 'new') {
                                                            $('#shipping-existing').hide();
                                                            $('#shipping-new').show();
                                                        } else {
                                                            $('#shipping-existing').show();
                                                            $('#shipping-new').hide();
                                                        }
                                                    });
                                                })(j2store.jQuery);

                                            </script>
                                            <script type="text/javascript">
                                                (function ($) {
                                                    $('#shipping-address select[name=\'country_id\']').bind('change', function () {
                                                        if (this.value == '') return;
                                                        $.ajax({
                                                            url: 'index.php?option=com_j2store&view=carts&task=getCountry&country_id=' + this.value,
                                                            dataType: 'json',
                                                            beforeSend: function () {
                                                                $('#shipping-address select[name=\'country_id\']').after('<span class="wait">&nbsp;<img src="/joomla-templates/jsn_bookstore/pro/bookstore/media/j2store/images/loader.gif" alt="" /></span>');
                                                            },
                                                            complete: function () {
                                                                $('.wait').remove();
                                                            },
                                                            success: function (json) {
                                                                if (json['postcode_required'] == '1') {
                                                                    $('#shipping-postcode-required').show();
                                                                    ViewBag
                                                                } else {
                                                                    $('#shipping-postcode-required').hide();
                                                                }

                                                                html = '<option value="">-- Select --</option>';

                                                                if (json['zone'] != '') {
                                                                    default_zone_id = $('#shipping-address #zone_id_default_value').val();
                                                                    for (i = 0; i < json['zone'].length; i++) {
                                                                        html += '<option value="' + json['zone'][i]['j2store_zone_id'] + '"';

                                                                        if (json['zone'][i]['j2store_zone_id'] == default_zone_id) {
                                                                            html += ' selected="selected"';
                                                                        }

                                                                        html += '>' + json['zone'][i]['zone_name'] + '</option>';
                                                                    }
                                                                } else {
                                                                    html += '<option value="0" selected="selected">J2STORE_CHECKOUT_NONE</option>';
                                                                }

                                                                $('#shipping-address select[name=\'zone_id\']').html(html);
                                                            },
                                                            error: function (xhr, ajaxOptions, thrownError) {
                                                                //alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                            }
                                                        });
                                                    });
                                                })(j2store.jQuery);

                                                (function ($) {
                                                    if ($('#shipping-address select[name=\'country_id\']').length > 0) {
                                                        $('#shipping-address select[name=\'country_id\']').trigger('change');
                                                    }
                                                })(j2store.jQuery);
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div id="confirm">
                                    <div class="checkout-heading">Thông tin khách hàng</div>
                                    <div class="checkout-content" style="display: block;">
                                        <div id="akeeba-renderjoomla">
                                            <div class="j2store">
                                                <h6>Họ tên khách hàng: @tk.HOTEN</h6>
                                                <h6>Số điện thoại: @tk.SDT</h6>
                                                <h6>Ngày đặt: @DateTime.Now.ToShortDateString()</h6>
                                                <!--    ORDER SUMMARY   -->
                                                <!--    PAYMENT METHOD   -->



                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout-heading">Thông tin hàng hóa</div>
                                    <div class="checkout-content" style="display: block;">
                                        <div id="akeeba-renderjoomla">
                                            <div class="j2store">
                                                <!--    ORDER SUMMARY   -->
                                                <div class="j2storeOrderSummary">

                                                    <table class="j2store-cart-table table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th width="70%">Sách</th>
                                                                <th width="10%">Số lượng</th>
                                                                <th width="20%" style="text-align:right">Giá</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @*@{Giohang listCart = (Giohang)Session["Giohang"]; }*@
                                                            @{List<Giohang> lstGiohang = Session["Giohang"] as List<Giohang>;
                                                                decimal tongtien = lstGiohang.Sum(n => n.ghThanhTien);
                                                                int soluong = lstGiohang.Sum(n => n.ghSoLuong);}
                                                            @foreach (var item in lstGiohang)
                                                            {
                                                                <tr>
                                                                    @using (Html.BeginForm("UpdateCart", "GioHang", new { id = item.ghMaSach }))
                                                                    {

                                                                        <td>
                                                                            <span class="cart-product-name">
                                                                                @item.ghTenSach
                                                                            </span>
                                                                        </td>
                                                                        <td>
                                                                            <span class="cart-product-qty">
                                                                                @item.ghSoLuong
                                                                            </span>
                                                                            @*<a class="btn btn-small btn-danger btn-xs j2store-remove remove-icon" href="@Url.Action("RemoveInCart", "Giohang", new { id = item.ghMaSach, strUrl = Request.Url.ToString() })">*@
                                                                            @*</a>*@
                                                                        </td>
                                                                        decimal x = item.ghGiaBan * item.ghSoLuong;
                                                                        <td class="cart-line-subtotal">
                                                                            @x VNĐ
                                                                        </td>
                                                                    }
                                                                </tr>

                                                            }

                                                        </tbody>
                                                        <tfoot class="cart-footer">
                                                            <tr>
                                                                <th scope="row" colspan="2"> Tổng số lượng</th>
                                                                <td>
                                                                    @soluong
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row" colspan="2"> Tổng tiền</th>
                                                                <td>
                                                                    @tongtien VNĐ
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>


                                                <!--    PAYMENT METHOD   -->



                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*Vùng phương thức thanh toán và giao hàng*@
                                <div id="shipping-payment-method">
                                    <div class="checkout-heading">
                                        Lựa chọn phương thức thanh toán
                                    </div>
                                    <div class="checkout-content" style="display: block;">
                                        <div id="akeeba-renderjoomla">
                                            @*<script type="text/javascript">
                                                    function j2storeGetPaymentForm(element, container) {
                                                        var url = '/DatHang/TheoDoiTinhTrangDH';
                                                        var data = 'option=com_j2store&view=checkout&task=getPaymentForm&tmpl=component&payment_element=' + elemenUrUrl; ★ ActionActionctionAction
                                                        j2storeDoTask(url, container, document.adminForm, '', data);
                                                    }

                                                </script>*@
                                            <!-- SHIPPING METHOD -->
                                            <div class="j2store-shipping" id="shippingcost-pane">
                                                <div id="onCheckoutShipping_wrapper">
                                                    <div id="akeeba-renderjoomla">
                                                        <input type="hidden" name="shipping_price" id="shipping_price" value="">
                                                        <input type="hidden" name="shipping_tax" id="shipping_tax" value="">
                                                        <input type="hidden" name="shipping_name" id="shipping_name" value="">
                                                        <input type="hidden" name="shipping_code" id="shipping_code" value="">
                                                        <input type="hidden" name="shipping_extra" id="shipping_extra" value="">

                                                        <div id="shipping_form_div" style="padding-top: 10px;"></div>
                                                        <div id="shipping_error_div" style="padding-top: 10px;"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- SHIPPING METHOD END -->


                                            <div class="j2error"></div>
                                            <div id="payment_form_div" style="padding-top: 10px;">
                                                <div class="payment">

                                                    <form method="post" name="bank_form" id="bank_form">


                                                        <div id="onCheckoutPayment_wrapper">


                                                            <label>
                                                                <input value="CASH" name="paymentMethod" type="radio" checked="">

                                                                Thanh toán khi giao hàng
                                                            </label>



                                                            <label>
                                                                <input value="NL" name="paymentMethod" id="rdoNL" type="radio">

                                                                Thanh toán bằng Ngân Lượng
                                                            </label>
                                                            <div id="nganluongContent" class="boxContent" style="display:none">
                                                                <p>
                                                                    Thanh toán trực tuyến AN TOÀN và ĐƯỢC BẢO VỆ, sử dụng thẻ ngân hàng trong và ngoài nước hoặc nhiều hình thức tiện lợi khác.
                                                                    Được bảo hộ & cấp phép bởi NGÂN HÀNG NHÀ NƯỚC, ví điện tử duy nhất được cộng đồng ƯA THÍCH NHẤT 2 năm liên tiếp, Bộ Thông tin Truyền thông trao giải thưởng Sao Khuê
                                                                    <br />Giao dịch. Đăng ký ví NgânLượng.vn miễn phí <a href="https://www.nganluong.vn/?portal=nganluong&amp;page=user_register" target="_blank" style="color:#ffc12c">tại đây</a>
                                                                </p>
                                                            </div>


                                                            <label>
                                                                <input value="ATM_ONLINE" id="rdoBank" name="paymentMethod" type="radio">

                                                                Thanh toán bằng ngân hàng nội địa
                                                            </label>

                                                            <div id="bankContent" class="boxContent" style="display:none">
                                                                Danh sách ngân hàng nội địa:
                                                                <span style="color:#ff5a00;font-weight:bold;text-decoration:underline;">Lưu ý</span>: Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.</i></p>
                                                                <ul class="cardList clearfix">

                                                                    <li class="bank-online-methods ">
                                                                        <label for="vcb_ck_on">
                                                                            <i class="VCB" title="Ngân hàng TMCP Ngoại Thương Việt Nam"></i>
                                                                            <input type="radio" value="VCB" ID="VCB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="vnbc_ck_on">
                                                                            <i class="DAB" title="Ngân hàng Đông Á"></i>
                                                                            <input type="radio" value="DAB" ID="DAB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="tcb_ck_on">
                                                                            <i class="TCB" title="Ngân hàng Kỹ Thương"></i>
                                                                            <input type="radio" value="TCB" ID="TCB" name="bankcode" />
                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_mb_ck_on">
                                                                            <i class="MB" title="Ngân hàng Quân Đội"></i>
                                                                            <input type="radio" value="MB" ID="MB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="shb_ck_on">
                                                                            <i class="SHB" title="Ngân hàng Sài Gòn - Hà Nội"></i>
                                                                            <input type="radio" value="SHB" ID="SHB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_vib_ck_on">
                                                                            <i class="VIB" title="Ngân hàng Quốc tế"></i>
                                                                            <input type="radio" value="VIB" ID="VIB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_vtb_ck_on">
                                                                            <i class="ICB" title="Ngân hàng Công Thương Việt Nam"></i>
                                                                            <input type="radio" value="ICB" ID="ICB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_exb_ck_on">
                                                                            <i class="EXB" title="Ngân hàng Xuất Nhập Khẩu"></i>
                                                                            <input type="radio" value="EXB" ID="EXB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_acb_ck_on">
                                                                            <i class="ACB" title="Ngân hàng Á Châu"></i>
                                                                            <input type="radio" value="ACB" ID="ACB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_hdb_ck_on">
                                                                            <i class="HDB" title="Ngân hàng Phát triển Nhà TPHCM"></i>
                                                                            <input type="radio" value="HDB" ID="HDB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_msb_ck_on">
                                                                            <i class="MSB" title="Ngân hàng Hàng Hải"></i>
                                                                            <input type="radio" value="MSB" ID="MSB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_nvb_ck_on">
                                                                            <i class="NVB" title="Ngân hàng Nam Việt"></i>
                                                                            <input type="radio" value="NVB" ID="NVB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_vab_ck_on">
                                                                            <i class="VAB" title="Ngân hàng Việt Á"></i>
                                                                            <input type="radio" value="VAB" ID="VAB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_vpb_ck_on">
                                                                            <i class="VPB" title="Ngân Hàng Việt Nam Thịnh Vượng"></i>
                                                                            <input type="radio" value="VPB" ID="VPB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_scb_ck_on">
                                                                            <i class="SCB" title="Ngân hàng Sài Gòn Thương tín"></i>
                                                                            <input type="radio" value="SCB" ID="SCB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="ojb_ck_on">
                                                                            <i class="OJB" title="Ngân hàng Đại Dương"></i>
                                                                            <input type="radio" value="OJB" ID="OJB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="bnt_atm_pgb_ck_on">
                                                                            <i class="PGB" title="Ngân hàng Xăng dầu Petrolimex"></i>
                                                                            <input type="radio" value="PGB" ID="PGB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="bnt_atm_gpb_ck_on">
                                                                            <i class="GPB" title="Ngân hàng TMCP Dầu khí Toàn Cầu"></i>
                                                                            <input type="radio" value="GPB" ID="GPB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="bnt_atm_agb_ck_on">
                                                                            <i class="AGB" title="Ngân hàng Nông nghiệp &amp; Phát triển nông thôn"></i>
                                                                            <input type="radio" value="AGB" ID="AGB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="bnt_atm_sgb_ck_on">
                                                                            <i class="SGB" title="Ngân hàng Sài Gòn Công Thương"></i>
                                                                            <input type="radio" value="SGB" ID="SGB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="bnt_atm_nab_ck_on">
                                                                            <i class="NAB" title="Ngân hàng Nam Á"></i>
                                                                            <input type="radio" value="NAB" ID="NAB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                    <li class="bank-online-methods ">
                                                                        <label for="sml_atm_bab_ck_on">
                                                                            <i class="BAB" title="Ngân hàng Bắc Á"></i>
                                                                            <input type="radio" value="BAB" ID="BAB" name="bankcode" />

                                                                        </label>
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                            <label>
                                                                <input value="MOMO" id="mommo" name="paymentMethod" type="radio">
                                                                MOMO
                                                            </label>
                                                            <div class="customer-note">
                                                                <h3>
                                                                    Lời nhắn từ khách hàng
                                                                </h3>
                                                                <textarea name="customer_note" rows="3" cols="40"></textarea>
                                                            </div>
                                                            <div id="checkbox_tos">
                                                                <p>Bằng cách đặt hàng, bạn <strong>đồng ý với các Điều khoản và điều kiện của chúng tôi</strong></p>
                                                            </div>

                                                            @*<textarea value="" id="txtMessage" rows="5"></textarea>*@


                                                            <div class="buttons">
                                                                <div class="left">
                                                                    <button type="submit" id="btnThanhToan" onclick="ThanhToan_Click" class="j2store_cart_button button btn btn-primary" value="Thanh toán">Đặt hàng</button> Hoặc
                                                                    <input type="button" id="paypal" onclick="location.href='@Url.Action("PaymentWithPaypal", "GioHang")'" class="j2store_cart_button button btn btn-primary" value="Thanh toán PayPal" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <script type="text/javascript">
                                                        (function ($) {
                                                            $('input[name="paymentMethod"]').off('click').on('click', function () {
                                                                if ($(this).val() == 'NL') {
                                                                    $('.boxContent').hide();
                                                                    $('#nganluongContent').show();
                                                                }
                                                                else if ($(this).val() == 'ATM_ONLINE') {
                                                                    $('.boxContent').hide();
                                                                    $('#bankContent').show();
                                                                }
                                                                else {
                                                                    $('.boxContent').hide();
                                                                    //$('#nganluongContent').hide();
                                                                    //$('#bankContent').hide();
                                                                }
                                                            });

                                                            //$('#btnCreateOrder').off('click').on('click', function (e) {
                                                            //    e.preventDefault();
                                                            //    var isValid = $('#bank_form').valid();
                                                            //    if (isValid) {
                                                            //        datHang();
                                                            //    }
                                                            //})
                                                        })(j2store.jQuery);

                                                    </script>
                                                    <!--<script>
                                                        //Đang phát triển trang tình trạng đơn hàng
                                                        //function datHang() {
                                                        //    var paymentMethod= $('input[name="paymentMethod"]:checked').value;
                                                        //    var bankCode = $('input[name="bankcode"]:checked').id;
                                                        //    $.get('/DatHang/DatHang', { 'paymentMethod': paymentMethod, 'bankCode': bankCode });-->
                                                    @*alert("Chúc mừng bạn @tk.HOTEN đã đặt hàng thành công.");
                                                        window.location ="/DatHang/TheoDoiTinhTrangDH"*@
                                                    <!--//};



                                                    //function doSendRequest() {
                                                    //    (function ($) {
                                                    //        var button = j2store.jQuery('#bank-submit-button');
                                                    //        //get all form values
                                                    //        var form = $('#bank_form');
                                                    //        var values = form.serializeArray();
                                                    //        //submit the form using ajax
                                                    //        var jqXHR = $.ajax({
                                                    //            url: '/DatHang/TheoDoiTinhTrangDH',
                                                    //            type: 'post',
                                                    //            data: values,
                                                    //            dataType: 'json',
                                                    //            beforeSend: function () {
                                                    //                $(button).attr('disabled', 'disabled');
                                                    //                $(button).val('Processing payment...please wait');
                                                    //                $(button).after('<span class="wait">&nbsp;<img src="/joomla-templates/jsn_bookstore/pro/bookstore/media/j2store/images/loader.gif" alt="" /></span>');
                                                    //            }
                                                    //        });

                                                    //        jqXHR.done(function (json) {
                                                    //            form.find('.j2success, .j2warning, .j2attention, .j2information, .j2error').remove();
                                                    //            //console.log(json);
                                                    //            if (json['error']) {
                                                    //                form.find('.plugin_error').after('<span class="j2error">' + json['error'] + '</span>');
                                                    //                form.find('.plugin_error_instruction').after('<br /><span class="j2error">J2STORE_STRIPE_ON_ERROR_INSTRUCTIONS</span>');
                                                    //                $(button).val('Error processing payment');
                                                    //            }

                                                    //            if (json['redirect']) {
                                                    //                $(button).val('Completed processing payment');
                                                    //                window.location.href = json['redirect'];
                                                    //            }

                                                    //        });

                                                    //        jqXHR.fail(function () {
                                                    //            $(button).val('Error processing payment');
                                                    //        });

                                                    //        jqXHR.always(function () {
                                                    //            $('.wait').remove();
                                                    //        });





                                                    //    })(j2store.jQuery);
                                                    //    }


                                                    </script>-->
                                                </div>

                                            </div>
                                            <br />
                                            <br />






                                            <input type="hidden" name="task" value="shipping_payment_method_validate">
                                            <input type="hidden" name="option" value="com_j2store">
                                            <input type="hidden" name="view" value="checkout">
                                        </div>
                                    </div>
                                </div>
                                @* Vùng xác nhận đơn hàng *@

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

